# Set the default behavior for all files.
* text=auto
* -crlf

# Normalized and converts to
# native line endings on checkout.
*.c text
*.h text
*.php text
*.json text

# Convert to CRLF line endings on checkout.
*.sln text eol=crlf

# Convert to LF line endings on checkout.
*.sh text eol=lf

# Binary files.
*.png binary
*.jpg binary
