raylib
.idea
vendor
raylib.la
*.la
*.dep
*.lo
run-tests.php
/build/ax_check_compile_flag.m4
/build/ax_gcc_func_attribute.m4
/build/config.guess
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/build/config.sub
/configure
/configure.ac
/build/gen_stub.php
/libtool
/build/libtool.m4
/build/ltmain.sh
/Makefile
/Makefile.fragments
/build/Makefile.global
/Makefile.objects
/autom4te.cache/output.0
/autom4te.cache/output.1
/build/php.m4
/build/php_cxx_compile_stdcxx.m4
/build/pkg.m4
/.libs/raylib.o
/.libs/raylib-color.o
/raylib-font.loT
/.libs/raylib-glyphinfo.o
/.libs/raylib-image.o
/.libs/raylib-matrix.o
/.libs/raylib-npatchinfo.o
/.libs/raylib-rectangle.o
/.libs/raylib-rendertexture.o
/.libs/raylib-texture.o
/.libs/raylib-vector2.o
/.libs/raylib-vector3.o
/.libs/raylib-vector4.o
/autom4te.cache/requests
/build/shtool
/autom4te.cache/traces.0
/autom4te.cache/traces.1
/x64